:focus
{
	outline:none;
}
.ui-menu 
{
	width: 250px; 
}

.ui-menu-item
{
	list-style-type:none;
}

.floatleft
{
	float:left;
}
.floatright
{
	float:right;
}

.subframe
{
	width:1000px;
	min-height: 600px;
}

.matrix
{
text-align: center;
vertical-align: middle;
height: 100%;
font-size: 35px;
}
.valign_m
{
	vertical-align: middle;
}
pre
{
	padding:0px;
}
code
{
	width:95%;
}
.notes
{
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	border-style:solid;
border-color:#aaa;
border-width:1px;
}
.notesHeader
{
padding: 10px;
border-radius: 5px;
background: -webkit-linear-gradient(#ddd, #bbb); /* For Safari */
background: -o-linear-gradient(#ddd, #bbb); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#ddd, #bbb); /* For Firefox 3.6 to 15 */
background: linear-gradient(#ddd, #bbb); /* Standard syntax */
border-style:solid;
border-color:#aaa;
border-width:1px;
}
sub {
vertical-align: sub;
font-size: smaller;
}
.floatmenu
{
  position: fixed;
  right: 25px;
  top: 30%;
  margin-top: -2.5em;
}
.item
{
	border-style:solid!important;
	border-top:1px;
	border-radius: 10px;
	padding-bottom:20px;
	border-color:#aaa;
}
.thumb
{
	width: 45%;
	padding-left:5%;
}
.shortdesc
{
	width:48%;
	float:left;
}