<!DOCTYPE html>
<html lang="en">

  <head>
	<meta charset='utf-8' />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="Suenting.github.io : user" />

	<link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">
	<script src="./lib/angular.js"></script>
	<script src="./lib/angular-resource.js"></script>
	<script src="./lib/d3.v3.min.js"></script>
	<script src="./js/mtg_controller.js"></script>
	<script src="./js/directives.js"></script>
	<link rel="stylesheet" href="../main.css">
	<link rel="stylesheet" href="../jquery/themes/base/jquery.ui.all.css">
	<link rel="stylesheet" href="./css/style.css">
	<script src="../jquery/jquery-1.8.3.js"></script>
	<script src="../jquery/ui/jquery.ui.core.js"></script>
	<script src="../jquery/ui/jquery.ui.widget.js"></script>
	<script src="../jquery/ui/jquery.ui.position.js"></script>
	<script src="../jquery/ui/jquery.ui.menu.js"></script>
	<title>suenting.github.io</title>
	
	<script>
	$(function() {
		$( ".menu" ).menu();
	});
	</script>
	

  </head>

  <body>


	<!-- HEADER -->
	<div id="header_wrap" class="outer">
	<header class="inner">
          <a id="forkme_banner" href="https://github.com/suenting">View on GitHub</a>

          <a href="http://suenting.github.io"><h1 id="project_title">suenting.github.io</h1></a>
          <h2 id="project_tagline"></h2>

	</header>
	</div>

	<!-- MAIN CONTENT -->
	<div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner" ng-app="mtgApp" ng-controller="mtgCtrl">
	
	<div id="cardView" ng-show="showCard">
	<a href="#"><h3 ng-click="backDeckView()">Back</h4></a>
		<div class = "cardframe">
		<table class="cardView">
			<tbody>
				<tr>
					<td colspan="2"><H3>{{cardName}}</H3></td>
					<td>{{cardCost}}</td>
				</tr>
				<tr><td colspan="3"><img src ='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{cardId}}&type=card'/></td></tr>
				<tr><td colspan="3">{{cardType}}</td></tr>
				<tr><td colspan="3">{{cardDesc}}<br/><br/><em>{{cardFlavor}}</em></td></tr>
				<tr>
					<td colspan="2"></td>
					<td>{{cardPower}}{{cardSlash}}{{cardToughness}}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="cardStats" ng-show="showStats">
			<div id="dchart"></div>
			<div id="bchart"></div>
			<table style="border:0px;">
				<tbody>
					<tr>
						<td style="padding:10px;border:0px;"><div style="height:20px;width:20px;background-color: #1F77B4;"></div></td>
						<td style="padding:10px;border:0px;">Power</td>
						<td style="padding:10px;border:0px;"><div style="height:20px;width:20px;background-color: #AEC7E8;"></div></td>
						<td style="padding:10px;border:0px;">Toughness</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="deckView" ng-show="showDeck">
		<H3>List Of Cards</H3>
		<br/>
		Filter Cards: <input ng-model="searchText">
		<a href="#"><h3 ng-click="backRootView()">Back</h4></a>
		<ul class="menu" style="width:900px">
			<li ng-repeat="card in cards | filter:searchText" style="list-style:none;">
				<a href="#" ng-click="selectCard(card)">{{card.name}}</a>
			</li>
		</ul>
	 </div>
	 <div id="deckSelectView" ng-show="showRoot">
		<H3>List Of Editions</H3>
		<br/><br />
		<ul class="menu" style="width:900px">
			<li ng-repeat="node in root" style="list-style:none;">
				<a href="#" ng-click="selectEdition(node)">{{node.code}}: {{node.name}}</a>
			</li>
		</ul>
	 </div>
	 
	</section>
	</div>

	<!-- FOOTER  -->
	<div id="footer_wrap" class="outer">
	<footer class="inner">
		<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
	</footer>
	</div>
	</body>
</html>